#code {
    display: block;
    padding: 20px;
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    border: none;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

#code::-webkit-scrollbar { 
    display: none;
}

#code:focus {
    min-height: 350px;
}

#validate td {
    text-align: center;
}

label[for="use-space"] {
    vertical-align: middle;
}

.switch {
    vertical-align: middle;
    margin-left: 1em;
}

label[for="space-per-tab"] {
    vertical-align: middle;
}

#space-per-tab {
    margin-left: 1em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    padding-left: 0.625em;
    padding-right: 0;
    border: 1px solid #ddd;
}

#space-per-tab:focus {
    border: 1px solid #009688;
}

#process {
    display: block;
    margin: 1em auto;
    color: #009688;
    font-size: medium;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #009688;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

#process:hover {
    color: white;
    background-color: #009688;
    border: 2px solid white;
}

#process:focus {
    outline: none;
}

#process:disabled {
    color: white;
    background-color: #777777;
    border: 2px solid white;
    cursor: unset;
}